#game-list img {
  width: 600px;
}
#game-list {
  margin: 100px;
}
#game-list {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: rgb(100, 20, 70);
  width: 700px;
  height: 500px;
  border-radius: 50px;
}
