div p {
  color: white;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
div button {
  width: 300px;
  height: 50px;
  font-weight: 1000;
  border-radius: 50px;
  background-color: rgb(99, 18, 88);
  color: white;
}
input {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  color: white;
  background-color: rgb(99, 18, 88);
}
.delete {
  margin: 10px;
}
.delete button {
  width: 100px;
}
