.details {
  width: 100%;
}
.detail {
  color: white;
}
.details img {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

.details h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.details p {
  font-size: 18px;
  margin: 6px 0;
  color: #444;
}

button {
  padding: 10px 16px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
}
